<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelead.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SDU store</title>
    <link rel="stylesheet" href="" th:href="@{/style/style.css}"/>
</head>
<body>
<header class="header">
    <div class="container">
        <ul class="header__list">
            <li>Jańa toptama</li>
            <li>Qyzdar</li>
            <li>Úldar</li>
            <li>Gift card</li>
            <li><a href="">
                <img class="logo" src="" th:src="@{/img/icon/logo.svg }" alt=""/>
            </a>
            </li>
            <li>Jeńildikter</li>
            <li>Trendte</li>
            <li>
                <img class="header__icon" src="" th:src="@{/img/icon/search.svg}" alt=""/>
            </li>
            <li>
                <img class="header__icon" src="" th:src="@{/img/icon/profile.svg}" alt=""/>
            </li>
            <li>
                <img class="header__icon" src="" th:src="@{/img/icon/busket.svg}" alt=""/>
            </li>
        </ul>
    </div>
</header>

<section class="slider">
    <div id="slider">
        <ul id="slideWrap">
            <li><img
                    src="https://1.bp.blogspot.com/-GgceYGYr2pk/YPCQp8loxqI/AAAAAAAACXU/Y795AFD-cN8PMV0V2__z2n1B3KFagE8qgCNcBGAsYHQ/s16000/1.jpg"
                    alt=""></li>
            <li><img
                    src="https://1.bp.blogspot.com/-pl0VR_xS5Cw/YPCQp1scezI/AAAAAAAACXc/oB9xc6k8RuY5rPksMSy01f3iUn8zSIFzwCNcBGAsYHQ/s16000/2.jpg"
                    alt=""></li>
            <li><img
                    src="https://1.bp.blogspot.com/-dt6CL2fiBq0/YPCQp0zmK6I/AAAAAAAACXY/0PevDL7pvx87mefb4oCnO613N1UitdicQCNcBGAsYHQ/s16000/3.jpg"
                    alt=""></li>
            <li><img
                    src="https://1.bp.blogspot.com/-T_V-s57aVDo/YPCQrWayswI/AAAAAAAACXg/h1ifJGnBuXovvBdGDNvmhg-DXIVK4Xw9QCNcBGAsYHQ/s16000/4.jpg"
                    alt=""></li>
            <li><img
                    src="https://1.bp.blogspot.com/-TNT1a5M1v3o/YPCQrWmn_fI/AAAAAAAACXk/p8nx_OB2R6Aw172WIv5vuB8jF-qWDsHlwCNcBGAsYHQ/s16000/5.jpg"
                    alt=""></li>
        </ul>
        <a id="prev" href="#">&#8810;</a>
        <a id="next" href="#">&#8811;</a>
    </div>
</section>

<div class="sales">
    <div class="container">
        <h1 class="sales__title">Jeńildikter</h1>
        <ul class="sales__list">
            <li class="sales__item">
                <img src="" th:src="@{/img/sales1.png}" alt="">
            </li>
            <li class="sales__item">
                <img src="" th:src="@{/img/sales2.png}" alt="">
            </li>
            <li class="sales__item">
                <img src="" th:src="@{/img/sales3.png}" alt="">
            </li>
            <li class="sales__item">
                <img src="" th:src="@{/img/sales4.png}" alt="">
            </li>
        </ul>
    </div>
</div>

<section class="type">
    <div class="container">
        <h1 class="type__title">Kïim türleri</h1>
        <ul class="type__list">
            <li class="type__item">
                <a href="">
                    <img src="" th:src="@{/img/jeide.png}" alt="">
                    <span>JEÑIL JEIDE</span>
                </a>
            </li>
            <li class="type__item">
                <a href="">
                    <img src="" th:src="@{/img/jeide.png}" alt="">
                    <span>JEÑIL JEIDE</span>
                </a>
            </li>
            <li class="type__item">
                <a href="">
                    <img src="" th:src="@{/img/jeide.png}" alt="">
                    <span>JEÑIL JEIDE</span>
                </a>
            </li>
            <li class="type__item">
                <a href="">
                    <img src="" th:src="@{/img/jeide.png}" alt="">
                    <span>JEÑIL JEIDE</span>
                </a>
            </li>
            <li class="type__item">
                <a href="">
                    <img src="" th:src="@{/img/jeide.png}" alt="">
                    <span>JEÑIL JEIDE</span>
                </a>
            </li>
            <li class="type__item">
                <a href="">
                    <img src="" th:src="@{/img/jeide.png}" alt="">
                    <span>JEÑIL JEIDE</span>
                </a>
            </li>
        </ul>
    </div>
</section>


<script src="./js/script.js"></script>

</body>
</html>
